nav{
    margin: 0;
    /* background: transparent; */
    color: #fff;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    width: -webkit-fill-available;
}
nav ul li{
 display: inline-block;
 list-style: none;
 margin: 5px 20px;
 font-size: 16px;
}
.hamburger{
    display: none;
}
nav ul{
    margin-left: 97px;
}

@media screen and (max-width:576px) {
 nav ul li{
  display: block;
}
.hamburger{
    display: flex;
}
.nothamburger{
    display: none;
}
nav {
    padding: 2px 2px;
}
       
}

/* https://www.youtube.com/watch?v=WbV3zRgpw_E */